*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-image: url("../img/bg.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
/*-------------------General----------------------------------------------------------*/
.form-header{
	background-color: #fff;
	color: #37474f;
	font-size: 2.5em;
	line-height: 1;
	font-family: 'Lato', sans-serif;
	padding: 2rem;
	box-shadow: 0 0 5px #1b1b1b;
}
.default-button{
	font-size: 1.5em !important;
	background-color: #fff !important;
	color: #37474f !important;
	margin: 1em 0 !important;
}
.default-content{
	width: 100%;
	text-align: left;
	padding: 0;
	background-color: #37474f;
	box-shadow: 0 0 5px #1b1b1b;
	overflow: auto;
}
.default-form{
	padding: 0;
}
.search-list{
	background-color: #fff;
	color: #37474f;
	list-style-type: none;
	font-size: 2em;
	margin-bottom: 0;
}
.search-list > a{
	color: #37474f;
}
.search-list > a > li{
	padding: .67857143em .7em;
	border: 1px solid rgba(34,36,38,.15);
}
.search-list > a > li:hover{
	background-color: rgba(55,71,79,.30);
}
.con{
	-webkit-animation-name: slideDown;
	-webkit-animation-duration: 1s;
	animation-name: slideDown;
	animation-duration: 1s;
	padding-top: 15vh;
	text-align: center;
	padding-bottom: 15vh;
}
@keyframes slideDown{
	from{
		transform: translateY(-10%);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}
@-webkit-keyframes slideDown{
	from{
		transform: translateY(-10%);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}
@media only screen and (max-width: 450px){
	.form-header{
		font-size: 1.5em;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.default-button{
		font-size: 1em !important;
		margin: 0.5em 0 !important;
	}
}
/*-------------------End General------------------------------------------------------*/
/*-------------------Navbar-----------------------------------------------------------*/

.navcustom{
	background-color: #fff;
	border-bottom: solid 3px #37474f;
	box-shadow: 0 0 5px #1b1b1b;
}

.brand{
	color: #37474f !important;
	font-weight: bold;
}
@media only screen and (min-width: 768px){
	.navigation>li{
		color: #37474f;
		font-size: 1.5rem;
		font-weight: bold;
		border-top: solid 3px #fff;
		-webkit-transition: border-top 500ms ease-in;
	    -ms-transition: border-top 500ms ease-in;
	    transition: border-top 500ms ease-in;
	}
	.btn-log{
		padding-top: 12px;
		padding-bottom: 15px;
		padding-left: 1rem;
		padding-right: 1rem;
		cursor: pointer;
	}
	.navigation>li:hover{
		background-color: #fff;
		border-top: solid 3px #37474f;
	}
	.navigation>li:focus{
		background-color: #fff;
	}
	.nav-con{
		padding-left: 5em;
		padding-right: 5em;
	}
	.log-icon{
		font-size: 1.3rem;
		margin-right: .5rem;
	}
	.username{
		padding-top: 12px;
		padding-bottom: 15px;
		margin-right: 15px;
	}
}
@media only screen and (max-width: 370px){
	.username{
		display: none !important;
	}
}
@media only screen and (max-width: 768px){
	.navigation>li{
		color: #37474f !important;
		font-size: 18px;
	}
	.navigation > li:focus{
		background-color: #fff !important;
	}
	.nav-con{
		padding-left: 2em;
		padding-right: 2em;
	}
	.btn-log{
		padding-top: 15px;
		padding-bottom: 15px;
		font-weight: bold;
	}
	.log-icon{
		font-size: 15px;
		margin-right: .5rem;
	}
	.username{
		padding-top: 15px;
		padding-bottom: 15px;
		margin-right: 15px;
		font-weight: bold;
	}
	.footer{
		padding: 0.2em 0.5em !important;
	}
}
.navigation {
	float: right;
	margin: 0;
}
.nav-con > .navbar-header{
	float: left;
}
.navigation > li > a > span{
	margin-left: 5px;
}
.navigation > li{
	float: left;
}
/*-------------------End Navbar-------------------------------------------------------*/
/*-------------------Homepage---------------------------------------------------------*/

.find-categories-md{
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	height: 20vh;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 2.1em;
	color: #fff;
	background-color: #37474f;
	display: inline-flex;
  	justify-content: center;
  	align-items: center;
	box-shadow: 0 0 5px #1b1b1b;
	-webkit-transition	: background-color 500ms ease-in;
    -ms-transition		: background-color 500ms ease-in;
    transition-duration : background-color 500ms ease-in;
}
.find-categories-xs{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	height: 3em;
	width: 80%;
	font-size: 2.1em;
	margin: 0.5em;
	margin-bottom: 0;
	color: #fff;
	border-radius: 0;
	background-color: #37474f;
	display: inline-flex;
  	justify-content: center;
  	align-items: center;
	box-shadow: 0 0 5px #1b1b1b;
}
.find-categories-xs:focus{
	color: #fff !important;
}
.container > a{
	text-decoration: none;
}
.find-categories-md:hover{
	background-color: #102027;
}
.find-categories-xs:hover{
	color: #fff;
}
/*---------------------End Homepage--------------------------------------*/
/*--------------------------------------Login---------------------------------*/
@keyframes slideLeft{
	from{
    	transform: translateX(200%);
    	opacity: 0;
 	}
  	to{
    	transform: translateX(0);
    	opacity: 1;
  	}
}
@-webkit-keyframes slideLeft{
	from{
    	transform: translateX(200%);
    	opacity: 0;
 	}
  	to{
    	transform: translateX(0);
    	opacity: 1;
  	}
}
.signin{
	display: none;
	list-style-type: none;
	position: absolute;
	padding: 5px 15px;
	background-color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
	width: 180px;
	right: 0;
	left: auto;
	border-left: solid #37474f 1px;
	border-right: solid #37474f 1px;
	border-bottom: solid #37474f 1px;
	box-shadow: 0 0 5px #1b1b1b;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
@media only screen and (max-width: 768px){
	.signin{
		font-size: 1em;
	}
}
.signin > li > a > span{
	padding-left: 5px;
	display: inline-block;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}
.sosmed-icon, .sosmed-name{
	display: inline-block;
	margin-left: 5px;
}
.login-sosmed{
	background-color: #37474f;
	color: #fff;
	padding: 3px;
	border: solid #37474f 3px;
	margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 5px;
}
.login-sosmed > span{
	margin-left: 5px;
}
.sosmed-facebook:hover{
	background-color: #3b5998;
	border-color: #3b5998;
}
.sosmed-google:hover{
	background-color: #dd4b39;
	border-color: #dd4b39;
}
.sosmed-twitter:hover{
	background-color: #1da1f2;
	border-color: #1da1f2;
}
/*----------------------------------End Login---------------------------------*/
/*---------------------Cari General--------------------------------------*/
.search-form{
	padding: 2em 2em;
}
.search-form > .search-input > input{
	background-color: #fff;
	border: 1px solid rgba(34,36,38,.15);
	border-radius: .28571429rem;
	color: #37474f;
	font-size: 2em;
	box-shadow: 0 0 5px #1b1b1b;
	padding: .67857143em .7em;
	width: 100%;
}
.search-method{
	margin-top: 30px;
	margin-bottom: 30px;
}
.radio-wrapper{
	display: inline-block;
}
.radio-wrapper > input[type="radio"]{
	display: none;
}
.labelfor-searchmethod{
	color: #fff;
	font-size: 1.5em;
	margin-left: 10px;
	cursor: pointer;
}
.radio-wrapper > input[type="radio"] + .label-searchmethod{
	background-color: #fff;
	height: 18px;
	width: 18px;
	color: #37474f;
	margin-left: 20px;
	margin-bottom: 0;
	font-size: 1.5em;
	border-radius: 50%;
	border: solid 2px #fff;
	text-align: center;
    cursor:pointer;
    -moz-border-radius:  50%;
}
.radio-wrapper > input[type="radio"]:checked + .label-searchmethod{
	background-color: #37474f;
	color: #fff;
	border-color: #fff;
}
.radio-input{
	background-color: #fff;
}
.list-group{
	background-color: #fff;
	color: #37474f;
	max-height: 300px;
	list-style-type: none;
	font-size: 2em;
	overflow-y: auto;
}
.list-group > a > li{
	padding: .67857143em .7em;
	border: 1px solid rgba(34,36,38,.15);
}
.list-group > a{
	color: #37474f;
	cursor: pointer;
}
.list-group > a > li:hover{
	background-color: rgba(55,71,79,.30);
}
#dosenSearch {
	opacity: .5;
	transition: opacity 500ms;
	-webkit-transition: opacity 500ms;
}
@media only screen and (max-width: 450px){
	.list-group{
		font-weight: bold;
		font-size: 1em;
		max-height: 200px;
	}
	.list-group > a > li{
		line-height: 150%;
	}
	.radio-wrapper{
		width: 100%;
	}
	.search-method{
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.search-form > .search-input > input{
		font-size: 1rem;
		padding: .5rem;
		font-weight: bold;
	}
	.radio-wrapper > .search-input > input{
		font-size: 1rem;
		font-weight: bold;
	}
	.labelfor-searchmethod{
		font-size: 1rem;
		margin-left: .5rem;
	}
	.radio-wrapper > input[type="radio"] + .label-searchmethod{
		height: 12px;
		width: 12px;
		margin-left: 1rem;
	}
}
.resultWrapper{
	width: 100%;
	padding: .67857143em .7em;
	border: 1px solid rgba(34,36,38,.15);
}
.dosenName{
  	font-size: 1em;
  	font-weight: bold;
  	line-height: initial;
  	margin-bottom: 5px;
}
.universitasName{
	padding-top: 5px;
	padding-left: 1em;
	font-size: .5em;
	font-weight: bold;
	border-top: 1px solid rgba(34,36,38,.15);
}
/*---------------------End Cari General--------------------------------------*/

/*---------------------Beri Nilai--------------------------------------------*/
.info-dosen{
	padding: 1em 3.5em;
}
.info-dosen > .nama-dosen{
	color: #fff;
	font-size: 2em;
	width: 100%;
	line-height: 1.5;
	margin-bottom: 0;
}
.info-dosen > .nama-univ{
	color: #fff;
	width: 100%;
	font-size: 1em;
	padding: 0 2em;
}
.rate-form{
	background-color: #fff;
}
.input-row{
	border-top: 2px solid rgba(52, 81, 94, .5);
	padding: 1em 4em;
}
.input-matkul{
	border: solid 1px #37474f;
	width: 200px;
	position: relative;
}
.nama-matkul{
	width: 80%;
	padding: 0.5em;
	font-size: 1.5em;
	font-weight: bold;
	color: #37474f;
	border: none;
	border-right: solid 1px #37474f;
}
.courseCode-list{
	width: 200px !important;
	right: -1px;
	left: auto;
	background-color: #fff;
	display: none;
	position: absolute;
	width: inherit;
	list-style-type: none;
	margin-bottom: 0;
	border-left: solid 1px #37474f;
	border-right: solid 1px #37474f;
	border-bottom: solid 1px #37474f;
}
.courseCode-list > li{
	cursor: pointer;
	font-size: 1.5em;
	color: #37474f;
	padding: 0.5em;
	font-weight: bold;
	border-top: solid 1px #37474f;
}
.courseCode-list > .course-code-help{
	font-size: 1rem;
	background-color: lightgrey;
	cursor: not-allowed;
}
.btn-dropdown{
	cursor: pointer;
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.label-input{
	color: #37474f;
	font-weight: bold;
	width: 30%;
	font-size: 1.5em;
	display: inline-block;
}
.input{
	display: inline-block;
}
.input > input[type="radio"]{
	display: none;
}
.input > input[type="radio"] + label{
	background-color: #fff;
	height: 50px;
	width: 50px;
	color: #37474f;
	font-size: 1.5em;
	border-radius: 50%;
	text-align: center;
	padding-top: 13.5px;
	padding-bottom: 13.5px;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}
.input > input[type="radio"]:checked + label{
	background-color: #37474f;
	color: #fff;
}
.input > textarea{
	width: 500px;
	height: 200px;
	padding: 0.5em;
	border-radius: 5px;
	font-size: 1.5em;
}
.input > textarea:focus{
	border-color: #37474f;
	box-shadow: 0 0 5px rgba(193, 213, 224, 1);
}
.help{
	display: inline-block;
	font-size: 1.5em;
	color: #37474f;
	margin-left: 2em;
}
.input-row > button{
	background-color: rgba(55, 71, 79, 1);
	border: none;
	font-size: 1.5em;
	-webkit-transition: background-color 200ms ease-in;
    -ms-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
}
.input-row > button:hover{
	background-color: rgba(55, 71, 79, 0.7);
}
@media only screen and (max-width: 650px){
	.info-dosen{
		padding: 1rem;
	}
	.info-dosen > .nama-dosen{
		font-size: 1.3rem;
	}
	.info-dosen > .nama-univ{
		font-size: 1rem;
	}
	.nama-matkul{
		font-size: 1rem;
		width: 150px;
	}
	.courseCode-list > li{
		font-size: 1rem;
	}
	.input-row{
		padding: 1rem;
	}
	.label-input{
		width: 100%;
		margin-bottom: 1rem;
		font-size: 1rem;
	}
	.input > input[type="radio"] + label{
		height: 30px;
		width: 30px;
		font-size: 1rem;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.help{
		font-size: 1rem;
	}
	.input-row > .popover >.popover-content{
		padding: .5rem;
	}
	.input > textarea{
		width: 250px;
		height: 200px;
		padding: 0.5em;
		border-radius: 5px;
		font-size: 1rem;
	}
	.input-row > button{
		font-size: 1rem;
	}
}
/*---------------------End Beri Nilai----------------------------------------*/
/*---------------------Nilai Dosen-------------------------------------------*/
.dosen-form{
	padding: 2rem;
	background-color: #37474f;
	position: relative;
}
.btn-rate{
	background-color: #fff;
	font-size: 1.5em;
	position: absolute;
	right: 0;
	left: auto;
	padding: 0.5em;
	color: #37474f;
	border: solid 1px #fff;
	margin-right: 2rem;
}
.rate-box{
	width: 30%;
	line-height: 1;
	text-align: center;
}
.rate-box-header{
	font-size: 2em;
	color: #37474f;
	background-color: #fff;
	padding: 0.5em;
	border-bottom: solid 2px #37474f; 
}
.rate-box-content{
	padding: 0.5em 0;
	background-color: #fff;
	color: #37474f;
	font-size: 5em;
}
.btn-detail{
	display: none;
}
.category-wrapper{
	width: 100%;
	color: #37474f;
	margin-top: 2em;
	clear: both;
	overflow: auto;
}
.category-rate-box{
	width: 20%;
	font-size: 1.5em;
	text-align: center;
	float: left;
	line-height: 1;
	border-right: 3px solid #37474f;
}
.category-rate-box-last{
	border: none;
}
.category-rate-box-header{
	background-color: #fff;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid #37474f;
}
.category-rate-box-content{
	background-color: #fff;
	font-size: 3em;
	padding-top: .3em;
	padding-bottom: .3em;
}
.comment-section{
	width: 100%;
	margin-top: 2em;
	clear: both;
	overflow: auto;
	color: #37474f;
}
.comment-wrapper{
	margin-top: 2rem;
	padding: 2rem;
	margin-bottom: 2rem;
	background-color: #fff;
	clear: both;
	overflow: auto;
}
.comment-header{
	overflow: hidden;
	padding-bottom: .5rem;
	margin-bottom: .5rem;
	border-bottom: 3px solid #37474f;
}
.comment-header-left{
	width: 20%;
	float: left;
	line-height: 1;
}
.comment-header-right{
	width: 80%;
	float: left;
}
.comment-category{
	float: left;
	width: 80%;
}
.comment-rate{
	float: left;
	width: 20%;
	line-height: 1;
	text-align: right;
}
.inside-wrapper{
	width: 50%;
	margin-bottom: .7rem;
	float: left;
	font-size: 1.5rem;
	font-weight: bold;
	padding-left: 2rem;
}
.user-comment{
	font-size: 1.5rem;
	line-height: 1.2;
}
.like{
	text-align: center;
	font-size: 1.2rem;
}
.btn-like{
	background-color: transparent;
	border: none;
	margin-top: 1rem;
	margin-right: 2rem;
}
.btn-like > i{
	margin-right: .5rem;
	margin-left:  .5rem;
}
.emoticon{
	font-size: 5rem;
	text-align: center;
}
.suka, .tidaksuka{
	transition: font 500ms ease;
	-webkit-transition: font 500ms ease;
}
.suka:hover{
	font-size: 1.5rem
}
.tidaksuka:hover{
	font-size: 1.5rem
}
.date{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

@media only screen and (max-width: 1000px){
	.rate-box{
		width: 40%;
	}
	.category-rate-box{
		font-size: 1rem;
	}
	.inside-wrapper{
		font-size: 1rem;
	}
	.emoticon{
		font-size: 4rem;
		text-align: center;
	}
	.date{
		font-size: 1rem;
		text-align: center;
	}
}
@media only screen and (max-width: 650px){
	.rate-box-header{
		font-size: 1.5rem;
	}
	.rate-box-content{
		font-size: 3rem;
	}
	.user-comment{
		font-size: 1rem;
	}
	.category-rate-box{
		width: 50%;
		margin-bottom: 1rem;
	}
	.like{
		text-align: left;
	}
	.category-rate-box-last{
		border-right: solid 3px #37474f;
	}
}
@media only screen and (max-width: 450px){
	.btn-rate{
		font-size: 1em;
		position: relative;
		margin-bottom: 1.5rem;
	}
	.rate-box{
		width: 100%;
		font-weight: bold;
		margin-bottom: .5rem;
	}
	.rate-box-header{
		font-size: 1.5rem;
	}
	.rate-box-content{
		font-size: 2rem;
	}
	.btn-detail{
		display: block;
		border: none;
		padding: 1rem;
		font-weight: bold;
	}
	.category-wrapper{
		display: none;
		margin-top: .5rem;
	}
	.category-rate-box{
		width: 100%;
		border: none;
		font-weight: bold;
		margin-bottom: .5rem;
		padding-right: 0.5rem;
		padding-left: 1rem;
		background-color: #fff;
	}
	.category-rate-box-last{
		border: none;
	}
	.category-rate-box-header{
		font-size: 1.3rem;
		border-bottom: 1px solid rgba(55, 71, 79, 0.5);
	}
	.category-rate-box-content{
		font-size: 1.3rem;
	}
	.comment-section{
		margin-top: 1rem;
	}
	.comment-wrapper{
		margin-top: 1rem;
		padding: .5rem;
	}
	.comment-header{
		border-bottom: 1px solid rgba(55, 71, 79, 0.5);
	}
	.comment-header-left{
		width: 100%;
	}
	.comment-header-right{
		width: 100%;
	}
	.inside-wrapper{
		width: 100%;
		padding: 0;
		font-size: 1rem;
		margin: 0;
	}
	.user-comment{
		font-size: 1rem;
	}
	.like{
		margin-top: 1rem;
		text-align: left;
	}
	.btn-like{
		margin-right: 0;
		width: 100%;
		font-size: 1rem;
		text-align: left;
	}
	.emoticon{
		font-size: 3rem;
	}
	.date{
		font-size: 1rem;
	}
}
/*---------------------End Nilai Dosen---------------------------------------*/

/*---------------------Hasil Pencarian---------------------------------------*/
.alphabet{
	width: 100%;
	text-align: center;
	color: #fff;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}
.alphabet > span{
	cursor: pointer;
	padding-left: .5rem;
	padding-right: .5rem;
}
.hasilpencarian-list{
	margin-top: 1rem;
	background-color: #fff;
	font-size: 2rem;
	list-style-type: none;
	color: #37474f;
	margin-bottom: 0;
}
.hasilpencarian-data{
	position: relative;
	cursor: pointer;
	padding: 1rem 2rem;
	border-top: 1px solid rgba(34,36,38,.4);
	border-bottom: 1px solid rgba(34,36,38,.4);
	line-height: 1;
}
.hasilpencarian-data:hover{
	background-color: rgba(55,71,79,.30);
}
.data-rate{
	position: absolute;
	right: 0;
	left: auto;
	margin-right: 5rem;
}
@media only screen and (max-width: 768px){
	.alphabet{
		font-size: 1rem;
	}
	.alphabet > span{
		padding-right: .25rem;
		padding-left: .25rem;
	}
	.hasilpencarian-list{
		font-size: 1.5rem;
	}
	.data-rate{
		margin-right: 3rem;
	}
}
@media only screen and (max-width: 450px){
	.alphabet{
		font-size: .8rem;
	}
	.hasilpencarian-list{
		font-size: 1rem;
	}
	.data-rate{
		margin-right: 2rem;
	}
	.alphabet > span{
		padding-right: .15rem;
		padding-left: .15rem;
	}
}
/*---------------------End Hasil Pencarian-----------------------------------*/
.footer{
	font-family: 'Lato',sans-serif;
	padding: 0.2em 1.5em;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 2em;
	background-color: #fff;
	border-top: solid 3px #37474f;
	box-shadow: 0 0 5px #1b1b1b;
}
.contact{
	height: 30px;
	padding: 5px;
	vertical-align: middle;
}
.footer > label{
	font-size: 0.7em;
	margin-bottom: 0;
}
.footer > ul{
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer-icon{
	font-size: 0.7em;
	display: inline-flex;
	width: 30px;
	height: 30px;
	border: solid 2px #015da8;
	border-radius: 50%;
}
.list-icon{
	float: right;
}
