@font-face {
    font-family: Ubuntu;
    src: url(../font/Ubuntu-Light.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Pop;
    src: url(../font/Poppins-Light.ttf);
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-image: url("../img/bg.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

/*-------------------Homepage---------------------------------------------------------*/
.navcustom{
	background-color: #fff;
	border-bottom: solid 3px #37474f;
	box-shadow: 0 0 5px #1b1b1b; 
}
.brand{
	color: #37474f !important;
}
@media only screen and (min-width: 768px){
	.navigation>li>a{
	color: #37474f;
	font-size: 1.5em;
	border-top: solid 3px #fff;
	-webkit-transition: border-top 500ms ease-in;
    -ms-transition: border-top 500ms ease-in;
    transition: border-top 500ms ease-in;
	}
	.navigation>li>a:hover{
		background-color: #fff;	
		border-top: solid 3px #37474f;
	}
	.navigation>li>a:focus{
		background-color: #fff;
	}
}
@media only screen and (max-width: 768px){
	.navigation>li>a{
		color: #37474f !important;
	}
	.icon-bar{
		background-color: #37474f !important;
	}
	.navbar-toggle{
		border-color: #37474f !important;
	}
	.navbar-toggle:hover, .navbar-toggle:focus{
		background-color: #fff !important;
	}
	.btn-login{
		width: 100%;
		text-align: left;
		background-color: #fff;
		border: 0px;
		padding: 10px 15px;
		line-height: 20px;
		color: #37474f;
	}
	.btn-login > span{
		margin-right: 5px;
	}
	.input-login{
		display: inline-block;
		/*border: solid 2px #37474f;*/
		width: 70%;
	}
	.btn-log{
		font-family: OpenSans;
		margin-left: 15px;
		margin-right: 15px;
		padding-right: 20px;
		padding-left: 20px;
		background-color: #37474f;
		color: #fff
	}
	.footer{
		padding: 0.2em 0.5em !important;
	}
}
.navigation > li > a > span{
	margin-left: 5px;
}
.nav-con{
	padding-left: 5em;
	padding-right: 5em;
}

.con{
	padding-top: 10%;
	text-align: center;
	padding-bottom: 10%;
}

.find-categories-md{
	font-family: OpenSans;
	height: 5em;
	width: 30%;
	font-size: 2em;
	margin: 1em;
	color: #fff;
	background-color: #37474f;
	display: inline-flex;
  	justify-content: center;
  	align-items: center;
	box-shadow: 0 0 5px #1b1b1b; 
	-webkit-transition	: background-color 500ms ease-in;
    -ms-transition		: background-color 500ms ease-in;
    transition-duration : background-color 500ms ease-in;
}
.find-categories-xs{
	font-family: OpenSans;
	height: 3em;
	width: 80%;
	font-size: 2em;
	margin: 0.5em;
	margin-bottom: 0;
	color: #fff;
	border-radius: 0;
	background-color: #37474f;
	display: inline-flex;
  	justify-content: center;
  	align-items: center;
	box-shadow: 0 0 5px #1b1b1b; 
}
.find-categories-xs:focus{
	color: #fff !important;
}
.btn-find{
	font-size: 0.5em;
	margin: 0.3em;
	border: none;
	background-color: #37474f;
	color: #fff;
}
.container > a{
	text-decoration: none;
}
.find-categories-md:hover{
	background-color: #102027;
}
.find-cat{
	background-color: #fff;
	width: 80%;
	margin: auto;
	color: #fff;
	text-align: center;
	font-size: 2em;
}
.find-cat > .form-group > input{
	font-size: 0.7em;
	margin: 0;
	border-radius: 0;
	font-family: Pop;
}
.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
  
.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block; 
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
/*---------------------End Homepage--------------------------------------*/
/*---------------------Login---------------------------------------------*/
.container-login{
	height: 100%;
	width: 100%;
	display: table;
	position: absolute;
}
.login-content{
	padding: 5%;
	vertical-align: middle;
	display: table-cell;
}
.login-header{
	text-align: center;
	font-size: 2em;
	padding: 5%;
	font-family: Pop;
	background-color: #fff;
	box-shadow: 0 0 5px #1b1b1b; 
}
.login-form{
	background-color: #37474f;
	color: #fff;
	padding: 7%;
	font-family: Ubuntu;
	box-shadow: 0 0 5px #1b1b1b; 
}
.login-form > .form-group > label{
	padding-left: 0;
	padding-right: 0;
}
.login-form > .form-group > input{
	width: 100%;
	border-radius: 0;
}
.login-form > .form-group > button{
	background-color: #fff;
	color: #37474f;
	font-size: 1.3em;
	font-weight: bold;
}
/*---------------------End Login-----------------------------------------*/
/*---------------------Register------------------------------------------*/
@media only screen and (min-width: 768px){
	.register-content{
		width: 100%;
		text-align: left;
	}
	.register-header{
		background-color: #fff;
		color: #37474f;
		font-size: 2em;
		font-family: Pop;
		padding: 1em;
		box-shadow: 0 0 5px #1b1b1b; 
	}
	.register-form{
		background-color: #37474f;
		padding: 2em 3em;
		box-shadow: 0 0 5px #1b1b1b; 
	}	
	.register-form > .form > .name-field > .field{
		width: 33.33%;
	}
	.register-form > .form > .fields > .field{
		width: 50%;
	}
	.register-form > .form > .fields > .field > label{
		color: #fff;
		font-size: 1.5em;
		font-family: OpenSans;
		font-weight: 200;
	}
	.register-form > .form > .fields > .field > input{
		color: #37474f;
		font-size: 1.5em;
		font-family: Pop;
	}
	.input-reg{
		width: 100%;
		margin-bottom: 1em;
	}
	.input-reg > input{
		border-radius: 0 !important;
	}
	.label-reg{
		width: 20%;
		color: #37474f;
		border-radius: 0 !important;
	}
}


/*---------------------End Register--------------------------------------*/



.footer{
	font-family: Ubuntu;
	padding: 0.2em 1.5em;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 2em;
	background-color: #fff;
	border-top: solid 3px #37474f;
	box-shadow: 0 0 5px #1b1b1b; 
}
.contact{
	height: 30px;
	padding: 5px;
	vertical-align: middle;
}
.footer > label{
	font-size: 0.7em;
	margin-bottom: 0;
}
.footer > ul{
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer-icon{
	font-size: 0.7em;
	display: inline-flex;
	width: 30px;
	height: 30px;
	border: solid 2px #015da8;
	border-radius: 50%;
}
.list-icon{
	float: right;
}
