*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-image: url("../img/bg.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
/*-------------------General----------------------------------------------------------*/
.form-header{
	background-color: #fff;
	color: #37474f;
	font-size: 2.5em;
	font-family: 'Lato', sans-serif;
	padding: 1em;
	box-shadow: 0 0 5px #1b1b1b;
}
.default-button{
	font-size: 1.5em !important;
	background-color: #fff !important;
	color: #37474f !important;
	margin: 1em 0 !important;
}
.default-content{
	width: 100%;
	text-align: left;
	padding: 0;
	background-color: #37474f;
	box-shadow: 0 0 5px #1b1b1b;
	overflow: auto;
}
.default-form{
	padding: 0;
}
.search-list{
	background-color: #fff;
	color: #37474f;
	list-style-type: none;
	font-size: 2em;
	margin-bottom: 0;
}
.search-list > a{
	color: #37474f;
}
.search-list > a > li{
	padding: .67857143em .7em;
	border: 1px solid rgba(34,36,38,.15);
}
.search-list > a > li:hover{
	background-color: rgba(55,71,79,.30);
}
@keyframes slideUp{
	from{
		transform: translateY(10%);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}
@-webkit-keyframes slideUp{
	from{
		transform: translateY(10%);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}
@media only screen and (max-width: 450px){
	.form-header{
		font-size: 1.5em;
	}
	.default-button{
		font-size: 1em !important;
		margin: 0.5em 0 !important;
	}
}
/*-------------------End General------------------------------------------------------*/
/*-------------------Homepage---------------------------------------------------------*/
.navcustom{
	background-color: #fff;
	border-bottom: solid 3px #37474f;
	box-shadow: 0 0 5px #1b1b1b;
}
.brand{
	color: #37474f !important;
}
@media only screen and (min-width: 768px){
	.navigation>li>a{
	color: #37474f;
	font-size: 1.5em;
	font-weight: bold;
	border-top: solid 3px #fff;
	-webkit-transition: border-top 500ms ease-in;
    -ms-transition: border-top 500ms ease-in;
    transition: border-top 500ms ease-in;
	}
	.navigation>li>a:hover{
		background-color: #fff;
		border-top: solid 3px #37474f;
	}
	.navigation>li>a:focus{
		background-color: #fff;
	}
	.nav-con{
		padding-left: 5em;
		padding-right: 5em;
	}
}
@media only screen and (max-width: 768px){
	.navigation>li>a{
		color: #37474f !important;
		font-size: 1.2em;
		margin-top: 5px;
		margin-bottom: 4.5px;
	}
	.navigation > li > a:focus{
		background-color: #fff !important;
	}
	.nav-con{
		padding-left: 2em;
		padding-right: 2em;
	}
	.footer{
		padding: 0.2em 0.5em !important;
	}
}
.navigation {
	float: right;
	margin: 0;
}
.nav-con > .navbar-header{
	float: left;
}
.navigation > li > a > span{
	margin-left: 5px;
}
.navigation > li{
	float: left;
}
.con{
	-webkit-animation-name: slideUp;
	-webkit-animation-duration: 1s;
	animation-name: slideUp;
	animation-duration: 1s;
	padding-top: 15vh;
	text-align: center;
	padding-bottom: 15vh;
}
.find-categories-md{
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	height: 20vh;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 2.1em;
	color: #fff;
	background-color: #37474f;
	display: inline-flex;
  	justify-content: center;
  	align-items: center;
	box-shadow: 0 0 5px #1b1b1b;
	-webkit-transition	: background-color 500ms ease-in;
    -ms-transition		: background-color 500ms ease-in;
    transition-duration : background-color 500ms ease-in;
}
.find-categories-xs{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	height: 3em;
	width: 80%;
	font-size: 2.1em;
	margin: 0.5em;
	margin-bottom: 0;
	color: #fff;
	border-radius: 0;
	background-color: #37474f;
	display: inline-flex;
  	justify-content: center;
  	align-items: center;
	box-shadow: 0 0 5px #1b1b1b;
}
.find-categories-xs:focus{
	color: #fff !important;
}
.container > a{
	text-decoration: none;
}
.find-categories-md:hover{
	background-color: #102027;
}
/*---------------------End Homepage--------------------------------------*/
/*--------------------------------------Login---------------------------------*/
@keyframes slideLeft{
	from{
    	transform: translateX(200%);
    	opacity: 0;
 	}
  	to{
    	transform: translateX(0);
    	opacity: 1;
  	}
}
@-webkit-keyframes slideLeft{
	from{
    	transform: translateX(200%);
    	opacity: 0;
 	}
  	to{
    	transform: translateX(0);
    	opacity: 1;
  	}
}
.btn-masuk:focus + .signin{
	animation-name: slideLeft;
	animation-duration: 1s;
	-webkit-animation-name: slideLeft;
	-webkit-animation-duration: 1s;
}
.signin{
	opacity: 0;
	overflow: hidden;
	list-style-type: none;
	position: absolute;
	padding: 5px 15px;
	background-color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	width: 180px;
	right: 0;
	left: auto;
	border-left: solid #37474f 1px;
	border-right: solid #37474f 1px;
	border-bottom: solid #37474f 1px;
	box-shadow: 0 0 5px #1b1b1b;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
@media only screen and (max-width: 768px){
	.signin{
		font-size: 1em;
	}
}
.signin > li > a > span{
	padding-left: 5px;
	display: inline-block;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}
.sosmed-icon, .sosmed-name{
	display: inline-block;
	margin-left: 5px;
}
.login-sosmed{
	background-color: #37474f;
	color: #fff;
	padding: 3px;
	border: solid #37474f 3px;
	margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 5px;
}
.login-sosmed > span{
	margin-left: 5px;
}
/*----------------------------------End Login---------------------------------*/
/*---------------------Cari General--------------------------------------*/
.search-form{
	padding: 2em 2em;
}
.search-form > .search-input > input{
	background-color: #fff;
	border: 1px solid rgba(34,36,38,.15);
	border-radius: .28571429rem;
	color: #37474f;
	font-size: 2em;
	box-shadow: 0 0 5px #1b1b1b;
	padding: .67857143em .7em;
	width: 100%;
}
.search-method{
	display: inline-block;
	margin-bottom: 10px;
	display: flex;
	vertical-align: middle;
}
.search-method > input[type="radio"]{
	display: none;
}
.labelfor-searchmethod{
	color: #fff;
	font-size: 1.5em;
	margin-left: 10px;
	cursor: pointer;
}
.search-method > input[type="radio"] + .label-searchmethod{
	background-color: #fff;
	height: 25px;
	width: 25px;
	color: #37474f;
	margin-left: 20px;
	margin-bottom: 0;
	font-size: 1.5em;
	border-radius: 50%;
	border: solid 5px #fff;
	text-align: center;
    cursor:pointer;
    -moz-border-radius:  50%;
}
.search-method > input[type="radio"]:checked + .label-searchmethod{
	background-color: #37474f;
	color: #fff;
	border-color: #fff;
}
.radio-input{
	background-color: #fff;
}
.list-group{
	background-color: #fff;
	color: #37474f;
	max-height: 300px;
	list-style-type: none;
	font-size: 2em;
	overflow-y: auto;
}
.list-group > a > li{
	padding: .67857143em .7em;
	border: 1px solid rgba(34,36,38,.15);
}
.list-group > a{
	color: #37474f;
	cursor: pointer;
}
.list-group > a > li:hover{
	background-color: rgba(55,71,79,.30);
}
#dosenSearch {
  background-color: grey;
}
@media only screen and (max-width: 450px){
	.list-group{
		font-weight: bold;
		font-size: 1em;
		max-height: 200px;
	}
	.list-group > a > li{
		line-height: 150%;
	}
	.search-form > .search-input > input{
		font-size: 1em;
		font-weight: bold;
	}
}
.resultWrapper{
	width: 100%;
	padding: .67857143em .7em;
	border: 1px solid rgba(34,36,38,.15);
}
.dosenName{
  	font-size: 1em;
  	font-weight: bold;
  	line-height: initial;
  	margin-bottom: 5px;
}
.universitasName{
	padding-top: 5px;
	padding-left: 1em;
	font-size: .5em;
	font-weight: bold;
	border-top: 1px solid rgba(34,36,38,.15);
}
/*---------------------End Cari General--------------------------------------*/

/*---------------------Beri Nilai--------------------------------------------*/
.info-dosen{
	padding: 1em 3.5em;
}
.info-dosen > .nama-dosen{
	color: #fff;
	font-size: 2em;
	width: 100%;
	line-height: 1.5;
	margin-bottom: 0;
}
.info-dosen > .nama-univ{
	color: #fff;
	width: 100%;
	font-size: 1em;
	padding: 0 2em;
}
.rate-form{
	background-color: #fff;
}
.input-row{
	border-top: 2px solid rgba(52, 81, 94, .5);
	padding: 1em 4em;
}
.input-matkul{
	border: solid 1px #37474f;
	width: 200px;
	position: relative;
}
.nama-matkul{
	width: 80%;
	padding: 0.5em;
	font-size: 1.5em;
	font-weight: bold;
	color: #37474f;
	border: none;
	border-right: solid 1px #37474f;
}
.courseCode-list{
	width: 200px !important;
	right: -1px;
	left: auto;
	background-color: #fff;
	display: none;
	position: absolute;
	width: inherit;
	list-style-type: none;
	margin-bottom: 0;
	border-left: solid 1px #37474f;
	border-right: solid 1px #37474f;
	border-bottom: solid 1px #37474f;
}
.courseCode-list > li{
	cursor: pointer;
	font-size: 1.5em;
	color: #37474f;
	padding: 0.5em;
	font-weight: bold;
	border-top: solid 1px #37474f;
}
.btn-dropdown{
	cursor: pointer;
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.label-input{
	color: #37474f;
	font-weight: bold;
	width: 30%;
	font-size: 1.5em;
	display: inline-block;
}
.input{
	display: inline-block;
}
.input > input[type="radio"]{
	display: none;
}
.input > input[type="radio"] + label{
	background-color: #fff;
	height: 50px;
	width: 50px;
	color: #37474f;
	font-size: 1.5em;
	border-radius: 50%;
	text-align: center;
	padding-top: 13.5px;
	padding-bottom: 13.5px;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}
.input > input[type="radio"]:checked + label{
	background-color: #37474f;
	color: #fff;
}
.input > textarea{
	width: 500px;
	height: 200px;
	padding: 0.5em;
	border-radius: 5px;
	font-size: 1.5em;
}
.input > textarea:focus{
	border-color: #37474f;
	box-shadow: 0 0 5px rgba(193, 213, 224, 1);
}
.help{
	display: inline-block;
	font-size: 1.5em;
	color: #37474f;
	margin-left: 2em;
}
.input-row > button{
	background-color: rgba(55, 71, 79, 1);
	border: none;
	font-size: 1.5em;
	-webkit-transition: background-color 200ms ease-in;
    -ms-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
}
.input-row > button:hover{
	background-color: rgba(55, 71, 79, 0.7);
}
/*---------------------End Beri Nilai----------------------------------------*/


.footer{
	font-family: 'Lato',sans-serif;
	padding: 0.2em 1.5em;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 2em;
	background-color: #fff;
	border-top: solid 3px #37474f;
	box-shadow: 0 0 5px #1b1b1b;
}
.contact{
	height: 30px;
	padding: 5px;
	vertical-align: middle;
}
.footer > label{
	font-size: 0.7em;
	margin-bottom: 0;
}
.footer > ul{
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer-icon{
	font-size: 0.7em;
	display: inline-flex;
	width: 30px;
	height: 30px;
	border: solid 2px #015da8;
	border-radius: 50%;
}
.list-icon{
	float: right;
}
