<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">	
	<title></title>
</head>
<body>
	<nav class="navbar navbar-fixed-top navcustom">
		  <div class="container-fluid nav-con">
		    <div class="navbar-header">
		      <a class="navbar-brand brand" href="#">NILAIDOSEN</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right navigation">
		    	<li class="username">Hi, Petra</li>
			    <li>
			      	<div class="btn-log">
				  		<span class="glyphicon glyphicon-log-out log-icon"></span><span>Keluar</span>
					</div>
				</li>
		    </ul>
		  </div>
		</nav>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/semantic.min.js"></script>
</body>
</html>