<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<title>Cari Universitas</title>
</head>
<body>
	<div class="container con">
		<div class="default-content">
			<div class="form-header col-md-12">Cari Dosen</div>
			<div class="default-form search-form col-md-12">
				
				<!-- Input-for-Dosen section -->
				<div class="search-input">
		  			<input placeholder="contoh, Lili Ayu Wulandhari" type="text" id="dosenUniSearch" onkeyup="searchDosenUniSearch();">
				</div>
				<!-- End of Input-for-Dosen section -->

				<!-- Dosen-List section -->
				<div class="search-result">
					<ul class="list-group" id="dosenUniSearchResult">
					</ul>
				</div>
				<!-- End of Dosen-List section -->

				<button class="ui button default-button">
				  	Cari
				</button>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../js/data.js"></script>
	<script src="../js/scriptForDosen.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
