<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>Lili Ayu Wulandhari</title>
</head>
<body>
	<div class="container con">
		<div class="default-content">
			<div class="form-header col-md-12">Lili Ayu Wulandhari</div>
			<div class="default-form col-md-12 dosen-form">
				<button class="btn-rate">Beri Nilai Dosen Ini</button>
				<div class="rate-box">
					<div class="rate-box-header">
						Nilai Dosen
					</div>
					<div class="rate-box-content">
						5.0
					</div>
				</div>
				<div class="category-wrapper">
					<div class="category-rate-box">
						<div class="category-rate-box-header">Tingkat Kesulitan</div>
						<div class="category-rate-box-content">5.0</div>
					</div>
					<div class="category-rate-box">
						<div class="category-rate-box-header">Konten</div>
						<div class="category-rate-box-content">5.0</div>
					</div>
					<div class="category-rate-box">
						<div class="category-rate-box-header">Banyaknya Tugas</div>
						<div class="category-rate-box-content">5.0</div>
					</div>
					<div class="category-rate-box">
						<div class="category-rate-box-header">Penilaian</div>
						<div class="category-rate-box-content">5.0</div>
					</div>
					<div class="category-rate-box category-rate-box-last">
						<div class="category-rate-box-header">Pengajaran</div>
						<div class="category-rate-box-content">5.0</div>
					</div>
				</div>
				<div>
					<button class="btn-detail default-button">Lihat detil</button>
				</div>
				<div class="comment-section">
					<div class="comment-wrapper">
						<div class="comment-header">
							<div class="comment-header-left">
								<div class="emoticon">
									<i class="fa fa-frown-o"></i>
								</div>
								<div class="date">
									2017/04/14
								</div>
							</div>
							<div class="comment-header-right">
								<div class="inside-wrapper">
									<div class="comment-category">Nilai Dosen</div>
									<div class="comment-rate">A</div>
								</div>
								<div class="inside-wrapper">
									<div class="comment-category">Tingkat Kesulitan</div>
									<div class="comment-rate">A</div>
								</div>
								<div class="inside-wrapper">
									<div class="comment-category">Konten</div>
									<div class="comment-rate">A</div>
								</div>
								<div class="inside-wrapper">
									<div class="comment-category">Banyaknya Tugas</div>
									<div class="comment-rate">A</div>
								</div>
								<div class="inside-wrapper">
									<div class="comment-category">Penilaian</div>
									<div class="comment-rate">A</div>
								</div>
								<div class="inside-wrapper">
									<div class="comment-category">Pengajaran</div>
									<div class="comment-rate">A</div>
								</div>
							</div>
						</div>
						<div class="comment-content">
							<div class="user-comment">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							<div class="like">
								<button class="btn-like suka">
									<span>50</span><i class="fa fa-thumbs-up"></i> Komentar ini tepat
								</button>
								<button class="btn-like tidaksuka">
									<span>50</span><i class="fa fa-thumbs-down"></i> Komentar ini kurang tepat
								</button>
							</div>
						</div>
					</div>
					<div class="comment-wrapper">
						<div class="comment-header">
							<div class="comment-header-left">
								<div class="emoticon">
									<i class="fa fa-meh-o"></i>
								</div>
								<div class="date">
									2017/04/14
								</div>
							</div>
							<div class="comment-header-right">
								<div class="inside-wrapper">
									<div class="comment-category">Nilai Dosen</div>
									<div class="comment-rate">A</div>
								</div>
								<div class="inside-wrapper">
									<div class="comment-category">Tingkat Kesulitan</div>
									<div class="comment-rate">A</div>
								</div>
								<div class="inside-wrapper">
									<div class="comment-category">Konten</div>
									<div class="comment-rate">A</div>
								</div>
								<div class="inside-wrapper">
									<div class="comment-category">Banyaknya Tugas</div>
									<div class="comment-rate">A</div>
								</div>
								<div class="inside-wrapper">
									<div class="comment-category">Penilaian</div>
									<div class="comment-rate">A</div>
								</div>
								<div class="inside-wrapper">
									<div class="comment-category">Pengajaran</div>
									<div class="comment-rate">A</div>
								</div>
							</div>
						</div>
						<div class="comment-content">
							<div class="user-comment">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							<div class="like">
								<button class="btn-like suka">
									<span>50</span><i class="fa fa-thumbs-up"></i> Komentar ini tepat
								</button>
								<button class="btn-like tidaksuka">
									<span>10</span><i class="fa fa-thumbs-down"></i> Komentar ini kurang tepat
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<label class="navbar-brand contact">Kontak Kami</label>
		<ul class="list-icon">
			<li class="footer-icon"><a href=""><i class="fa fa-envelope" style="padding-left: 12%; vertical-align: middle;"></i></a></li>
			<li class="footer-icon"><a href=""><i class="fa fa-binoculars" style="padding-left: 12%; vertical-align: middle"></i></a></li>
		</ul>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/script.js"></script>
	<script src="../js/semantic.min.js"></script>
</body>
</html>