<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
			<link rel="stylesheet" type="text/css" href="../css/style.css">
		<title>NILAIDOSEN</title>
	</head>
	<body>
		<nav class="navbar navbar-fixed-top navcustom hidden-xs">
		  <div class="container-fluid nav-con">
		    <div class="navbar-header">
		      <a class="navbar-brand brand" href="#">NILAIDOSEN</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right navigation">
		      <li>
		      	<a href="#"><span class="fa fa-user-plus"></span><span>Daftar</span></a>
		      </li>
		      <li>
		      	<a href="#" class="dropdown" data-toggle="dropdown">
			  <span class="glyphicon glyphicon-log-in"></span><span>Masuk</span>
			</a>
			<ul class="dropdown-menu" style="width: 250%" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
		 	  <form method="POST">
			    <div class="row" style="margin: 1% 1% 1% 1%">
			      <div class="col-md-12">
			        <li style="margin-bottom: 5%" class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				  <input type="text" placeholder="Username" class="form-control">
				</li>
			        <li class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				  <input type="password" placeholder="Password" class="form-control">
				</li>
			        <li style="margin-bottom: 1%" class="text-right">
				  <a href="" style="font-size: 70%">Lupa password ?</a>
				</li>
			        <li>
				  <button type="submit" class="btn btn-primary" style="width: 100%; background-color: #37474f">Masuk</button>
				</li>
			      </div>
			    </div>
			  </form>
			</ul>
		      </li>
		    </ul>
		  </div>
		</nav>
		<nav class="navbar navbar-default navbar-fixed-top visible-xs navcustom">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand brand" href="#">NILAIDOSEN</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav navigation">
		        <li><a href="#"><span class="fa fa-user-plus"></span> Daftar</a></li>
		        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>&nbsp Masuk</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<div class="container con hidden-xs">
			<div class="row">
				<div class="col-sm-2">&nbsp</div>
				<div class="col-sm-4 ">
					<div class="find-categories-md">
						<label>Cari Universitas</label>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="find-categories-md">
						<label>Cari Dosen</label>
					</div>
				</div>
				<div class="col-sm-2">&nbsp</div>
			</div>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<div class="find-categories-md">
						<label>Beri Nilai Dosen</label>
					</div>
				</div>
				<div class="col-sm-4"></div>
			</div>
		</div>
		<div class="container con visible-xs">
			<button type="button" class="find-categories-xs btn" data-toggle="collapse" data-target="#find-school">
				Cari Universitas
			</button>
			<div class="collapse navbar-collapse" id="find-school">
		      <div class="find-cat">
				<div class="form-group">
					<input type="text" name="" class="form-control" placeholder="Nama Universitas....">
					<button type="submit" class="btn btn-md btn-find">Cari</button>
				</div>
			  </div>
		    </div>
		    <button type="button" class="find-categories-xs btn" data-toggle="collapse" data-target="#find-teacher">
				Cari Dosen
			</button>
			<div class="collapse navbar-collapse" id="find-teacher">
		      <div class="find-cat">
				<div class="form-group">
					<input type="text" name="" class="form-control" placeholder="Nama Universitas....">
					<input type="text" name="" class="form-control" placeholder="Nama Dosen....">
					<button type="submit" class="btn btn-md btn-find">Cari</button>
				</div>
			  </div>
		    </div>
		    <button type="button" class="find-categories-xs btn" data-toggle="collapse" data-target="#rate">
				Beri Nilai
			</button>
			<div class="collapse navbar-collapse" id="rate">
		      <div class="find-cat">
				<div class="form-group">
					<input type="text" name="" class="form-control" placeholder="Nama Universitas....">
					<input type="text" name="" class="form-control" placeholder="Nama Dosen....">
					<button type="submit" class="btn btn-md btn-find">Cari</button>
				</div>
			  </div>
		    </div>
		</div>
		<div class="footer">
			<label class="navbar-brand contact">Kontak Kami</label>
			<ul class="list-icon">
				<li class="footer-icon"><a href=""><i class="fa fa-envelope" style="padding-left: 12%; vertical-align: middle;"></i></a></li>
				<li class="footer-icon"><a href=""><i class="fa fa-binoculars" style="padding-left: 12%; vertical-align: middle"></i></a></li>
			</ul>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<script src="../js/semantic.min.js"></script>
	</body>
</html>
