<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
			<link rel="stylesheet" type="text/css" href="../css/style.css">
		<title>NILAIDOSEN</title>
	</head>
	<body>
		<nav class="navbar navbar-fixed-top navcustom">
		  <div class="container-fluid nav-con">
		    <div class="navbar-header">
		      <a class="navbar-brand brand" href="#">NILAIDOSEN</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right navigation">
		      <li id="btn-login">
		      	<div class="btn-log">
			  		<span class="glyphicon glyphicon-log-in log-icon"></span><span>Masuk</span>
				</div>
			  	<ul class="signin" id="signin">
			  		<li><a href="">
			  			<div class="login-sosmed sosmed-facebook">
			  				<div class="sosmed-icon"><i class="fa fa-facebook-square"></i></div>
			  				<div class="sosmed-name">Facebook</div>
			  			</div>
			  		</a></li>
			  		<li><a href="">
			  			<div class="login-sosmed sosmed-google">
			  				<div class="sosmed-icon"><i class="fa fa-google-plus-official"></i></div>
			  				<div class="sosmed-name">Google +</div>
			  			</div>
			  		</a></li>
			  		<li><a href="">
			  			<div class="login-sosmed sosmed-twitter">
			  				<div class="sosmed-icon"><i class="fa fa-twitter"></i></div>
			  				<div class="sosmed-name">Twitter</div>
			  			</div>
			  		</a></li>
			  	</ul>
			  </li>
		    </ul>
		  </div>
		</nav>
		<div class="container con hidden-xs">
			<div class="row">
				<div class="col-sm-2">&nbsp</div>
				<div class="col-sm-4 ">
					<a href="">
						<div class="find-categories-md">
							Cari Universitas
						</div>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="">
						<div class="find-categories-md">
							Cari Dosen
						</div>
					</a>
				</div>
				<div class="col-sm-2">&nbsp</div>
			</div>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<a href="">
						<div class="find-categories-md">
							Beri Nilai Dosen
						</div>
					</a>
				</div>
				<div class="col-sm-4"></div>
			</div>
		</div>
		<div class="container con visible-xs">
			<a href="">
				<div class="find-categories-xs">
					Cari Universitas
				</div>
			</a>
			<a href="">
			    <div class="find-categories-xs">
					Cari Dosen
				</div>
			</a>
			<a href="">
			    <div class="find-categories-xs">
					Beri Nilai
				</div>
			</a>
		</div>
		<div class="footer">
			<label class="navbar-brand contact">Kontak Kami</label>
			<ul class="list-icon">
				<li class="footer-icon"><a href=""><i class="fa fa-envelope" style="padding-left: 12%; vertical-align: middle;"></i></a></li>
				<li class="footer-icon"><a href=""><i class="fa fa-binoculars" style="padding-left: 12%; vertical-align: middle"></i></a></li>
			</ul>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<script src="../js/semantic.min.js"></script>
  		<script src="../js/script.js"></script>
	</body>
</html>
