<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>Login</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top visible-xs navcustom">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand brand" href="#">NILAIDOSEN</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navigation">
	        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container container-login">
		<div class="login-content">
			<div class="login-header">
				Login
			</div>
			<div class="login-form">
				<div class="form-group">
		    		<label class="col-md-2">Username</label>
		    		<input type="text" class="input-login form-control" name="">	
		    	</div>
		    	<div class="form-group">
		    		<label class="col-md-2">Password</label>
		    		<input type="password" class="input-login form-control" name="">	
		    	</div>
		    	<div class="form-group">
					<button class="ui compact labeled icon button">
					  <i class="user circle icon"></i>
					  Login
					</button>
		    	</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<label class="navbar-brand contact">Kontak Kami</label>
		<ul class="list-icon">
			<li class="footer-icon"><a href=""><i class="fa fa-envelope" style="padding-left: 12%; vertical-align: middle;"></i></a></li>
			<li class="footer-icon"><a href=""><i class="fa fa-binoculars" style="padding-left: 12%; vertical-align: middle"></i></a></li>
		</ul>
	</div>
	<script type="text/javascript" src="../js/javascript.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/semantic.min.js"></script>
</body>
</html>