<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>Register</title>
</head>
<body>
	<nav class="navbar navbar-fixed-top navcustom hidden-xs">
	  <div class="container-fluid nav-con">
	    <div class="navbar-header">
	      <a class="navbar-brand brand" href="#">NILAIDOSEN</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right navigation">
	      <li>
	      	<a href="#"><span class="glyphicon glyphicon-user"></span><span>Sign Up</span></a>
	      </li>
	      <li>
	      	<a href="#"><span class="glyphicon glyphicon-log-in"></span><span>Login</span></a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<nav class="navbar navbar-default navbar-fixed-top visible-xs navcustom">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand brand" href="#">NILAIDOSEN</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navigation">
	        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container con">
		<div class="register-content">
			<div class="register-header">
				Create an Account
			</div>
			<div class="register-form">
				<div class="ui form">
				  <div class="fields name-field">
				    <div class="field">
				      <label>First name</label>
				      <input type="text" placeholder="First Name">
				    </div>
				    <div class="field">
				      <label>Middle name</label>
				      <input type="text" placeholder="Middle Name">
				    </div>
				    <div class="field">
				      <label>Last name</label>
				      <input type="text" placeholder="Last Name">
				    </div>
				  </div>
				  <div class="fields">
					  <div class="field">
					    <label>Username</label>
					    <input type="text">
					  </div>
					  <div class="field">
					    <label>Password</label>
					    <input type="password">
					  </div>
				  </div>
				  <div class="fields">
				  	<div class="field">
				      <label>Email</label>
				      <input type="text">
					</div>
					<div class="field">
					    <label>Universitas</label>
					    <input type="text">
					</div>
				  </div>
				  
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<label class="navbar-brand contact">Kontak Kami</label>
		<ul class="list-icon">
			<li class="footer-icon"><a href=""><i class="fa fa-envelope" style="padding-left: 12%; vertical-align: middle;"></i></a></li>
			<li class="footer-icon"><a href=""><i class="fa fa-binoculars" style="padding-left: 12%; vertical-align: middle"></i></a></li>
		</ul>
	</div>
	<script type="text/javascript" src="../js/javascript.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/semantic.min.js"></script>
</body>
</html>