<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">	
	<title>Hasi Pencarian</title>
</head>
<body>
	<div class="container con">
		<div class="default-content">
			<div class="form-header col-md-12">
				Hasil Pencarian - <span id="nama-universitas">Universitas Binus</span>
			</div>
			<div class="default-form col-md-12">
				<ul class="hasilpencarian-list">
					<li class="hasilpencarian-data">
						<span class="data-name">Lili Ayu Wulandhari</span>
						<span class="data-rate fa fa-smile-o"></span>
					</li>
					<li class="hasilpencarian-data">
						<span class="data-name">Widodo Budiharto</span>
						<span class="data-rate fa fa-frown-o"></span>
					</li>
					<li class="hasilpencarian-data">
						<span class="data-name">Diaz D. Santika</span>
						<span class="data-rate fa fa-smile-o"></span>
					</li>
					<li class="hasilpencarian-data">
						<span class="data-name">Tohar</span>
						<span class="data-rate fa fa-meh-o"></span>
					</li>
					<li class="hasilpencarian-data">
						<span class="data-name">Kolang Kaling</span>
						<span class="data-rate fa fa-smile-o"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/data.js"></script>
</body>
</html>